:root{
    --gray-100: white;
    --gray-200: rgb(216, 216, 216);
    --gray-300: rgb(168, 167, 167);
    --gray-350: rgba(168, 167, 167, 0.322);
    --gray-400: rgb(89, 89, 89);
    --gray-450: rgba(89, 89, 89, 0.288);
    --gray-500: rgb(0, 0, 0);

    --acc-100:rgb(255, 187, 0);
    --acc-200:rgb(255, 153, 0);
    --acc-250:rgba(255, 153, 0, 0.798);
    --acc-300:rgb(255, 128, 0);

    /*
     --acc-100:rgb(118, 157, 211);
    --acc-200:rgb(71, 125, 196);
    --acc-300:rgb(30, 98, 186);
    */

    --display-text:rgb(0, 0, 0);
    --main-font: "Noto Sans Sogdian", sans-serif;;
}

*,::after,::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    transition: 0.5s ease-in-out;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-300);
    transition: all 0.2s ease;
    font-family: var(--main-font);
    min-width: 320px;
}

.hidden{
    display: none;
}

.calculator-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width:320px;
    height: auto;
    padding: 10px;
    background-color: var(--gray-100);
    box-shadow: 0px 0px 20px 1px var(--gray-400);
}

.calculator{
    height: 100%;
    width: 100%;
    background-color: var(--gray-100);
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.screen{
    width: 100%;
    height: 40%;
    order: 1;
    min-height: 200px;
    background-color: var(--acc-100);
    border-radius: 20px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;  
}

.menu-bar {
    width: 100%;
    height: 28px;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.sun,
.moon {
    width: 18px; 
    height: 18px;
    color: var(--gray-100); 
   
}


.theme {
    width: 56px;
    height: 100%;
    border: 2px solid var(--acc-200);
    background-color: var(--acc-200);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 25px;
    opacity: 0.9;
    cursor: pointer;
}
.theme:hover{
    opacity: 1;
}

.theme .butt {
    width: 24px;
    background-color: var(--gray-100);
    height: 100%;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme svg {
    padding-right: 4px;
    width: 18px;
    height: 18px;
}


#display {
    width: 100%;
    height: 4rem;
    background: none;
    border: none;
    outline: none;
    font-size: 2.5rem;
    text-align: right;
    padding: 10px;
    color: var(--display-text);
}


.keys {
    order: 2;
    width: 100%;
    height: 60%;
    margin: 10px 0;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    padding-bottom: 20px;
}


.key{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 400;
    cursor: pointer;
}

.bi-clock-history{
    width: 28px;
    height: 22px;
}

.bi-backspace{
    width: 28px;
    height: 20px;
    padding-right: 4px;
}

.number{
    color: var(--gray-500);
    font-family: "Source Sans 3", sans-serif;
    transition: 0.1s ease-in-out;
}

.action , .operator{
    color: var(--acc-300);
    font-weight: 600;
    font-family: "Source Sans 3", sans-serif;
}

.small{
    font-size: 1.1rem;
}

.large{
    font-size: 1.6rem;
}

.larger{
    font-size: 1.9rem;
}


.keys span{
   
    box-shadow: 2px 4px 4px rgba(227, 227, 227, 0.62);
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    aspect-ratio: 1;
    
    
}

.fill span{
    background-color: var(--acc-200);
    color: var(--gray-100);
    transition: 0.1s ease-in ;
}

.fill span:hover{
    background-color: var(--acc-300) !important;
}

body.dark-theme .sun{
    display: none;
}

body.dark-theme .moon {
    height: 100%;
    display: inline;
    width: 18px; 
    height: 18px;
    padding-left: 6px;
    color: var(--gray-300);
}

body.dark-theme .butt {
    background-color: var(--gray-300);
}

body.dark-theme .screen {
    background-color: var(--gray-500);
}

body.dark-theme body{
    background-color: var(--gray-500);
}

body.dark-theme #display {
    color: var(--gray-200);
    color: var(--gray-100);
}

body.dark-theme {
    color: var(--gray-500);
}

body.dark-theme .theme {
    justify-content: flex-start;
    background-color: var(--gray-500);
    border: 2px solid var(--gray-350);
}

body.dark-theme .calculator-wrapper,
body.dark-theme .calculator-wrapper .calculator {
    background-color: var(--gray-500);
}

body.dark-theme .keys span{
    box-shadow:none;
    background-color: var(--gray-450);
}

body.dark-theme .keys span:hover{
    
    background-color:rgba(89, 89, 89, 0.353);
}

body.dark-theme .number{
    color: var(--gray-200);
}

body.dark-theme .action , 
body.dark-theme .operator{
    color: var(--acc-200);
    font-weight: 400;
}

body.dark-theme .fill span{
    background-color: var(--acc-250);
}

@media (max-width:420px){
  
    .calculator-wrapper{
        width: 100vw;
        height: 100vh;
        min-width: 300px;
    }

    

    .screen{
        width: 100%;
        height: 35%;
    }

.number{
    font-size: 1.6rem;
}

}
/*
@media (max-height: 720px){
    .calculator-wrapper{
        width: 360px;
        height: 640px;
    }
}
*/


